{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class='container'>
       <h1>Add Profile</h1>
<form action="{{ url_for('profile_add') }}" method="post" enctype="multipart/form-data" class="form-group" id="form">

       <label for="first_name">First name:</label> {{ form.first_name }}<br />
       <label for="last_name">Last_name:</label> {{ form.last_name }}<br />
       <label for="username">Username:</label> {{ form.username }}<br />
       <label for="age">Age: </label>{{form.age}}<br  />
       <label for="sex" >Sex:</label>{{form.sex}} <br />
       <label for="image">Profile Img: </label>{{form.image}}<br />
       <input type="submit" />                

</form>
</div>
{% endblock %}
